body{
    background: #eef8ff;
}

footer{
   width: 100%; 
   background: linear-gradient(to right, #00093c, #2d0b00);
   color: #fff;
   padding: 100px 0 30px;
   border-top-left-radius: 125px;
   font-size: 13px;
   line-height: 20px;
}
.row{
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}
.col{
   flex-basis: 25%;
   padding: 10px; 
}
.col:nth-child(2), .col:nth-child(2){
    flex-basis: 15%;
}
.logo{
    width: 80px;
    margin-bottom: 30px;
}
.h-three{
    width: fit-content;
    margin-bottom: 40px;
    position: relative;

}
.email-id{
width: fit-content;
border-bottom: 1px solid #ccc;
margin: 20px 0;
}
ul li{
    list-style: none;
    margin-bottom: 12px;
    
    
}

.hr{
    width: 90%;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 20px auto;
}
.copyright{
  text-align: center;  
}
